body {
  font-family: "Montserrat", sans-serif;
  background-color: #1a2c5b;
  max-width: 100%;
  color: #fff;
}

a {
  color: #60faff;
  text-decoration: none;
}

.day-text,
.temp-range {
  color: #b8dff0;
}

.centered {
  text-align: center;
}

.first-color {
  background: #1a2c5b;
}

.second-color {
  background: #3e4e88;
}

.third-color {
  background: #7971ea;
}

.fourth-color {
  background: #b8dff0;
}

.background-card {
  border-radius: 10px;
  max-width: 100%;
  border: 1px solid #4a5ea5;
  box-shadow: 12px 12px 2px 1px #4a5ea5;
  margin: 50px auto;
  padding: 5px;
}

.top-level-row {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 25px;
}

.search-bar {
  width: 100%;
}

.text-input,
.submit-btn {
  width: 100%;
}

.sun-icon,
.cloud-sun-icon,
.rain-icon {
  padding-top: 5px;
  padding-bottom: 10px;
}

.sun-icon,
.cloud-sun-icon {
  color: #fffed1;
}

.rain-icon {
  color: rgba(172, 172, 172, 0.867);
}

.day-text {
  font-size: 22px;
}

.no-padding {
  padding-left: 0%;
  padding-right: 0%;
}

#current-city,
#current-time,
#current-humidity,
#current-wind-speed,
#current-wind-chill,
#current-temp {
  font-weight: bold;
}

#current-city {
  font-size: 40px;
}

#current-temp {
  font-size: 80px;
}

.temp-units {
  font-size: 27px;
}

#description {
  font-size: 24px;
}

#description:first-letter {
  text-transform: capitalize;
}
